/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log/*
*.gem

# rspec failure tracking
.rspec_status

# Ignore byebug command history file
.byebug_history

# Development support files
all_changes.txt

# Keep .keep files
!.keep
